.elementor-element .swiper-container {
  z-index: 0 !important;
}
.elementor-element .swiper-pagination {
  position: relative;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.elementor-element .et-slider .swiper-pagination {
  position: absolute;
}
.elementor-element .swiper-container-horizontal > .swiper-pagination-bullets,
.elementor-element .swiper-pagination-custom,
.elementor-element .swiper-pagination-fraction {
  bottom: 0;
}
.elementor-element .swiper-button-next,
.elementor-element .swiper-button-prev {
  width: var(--arrow-size, 50px);
  height: var(--arrow-size, 50px);
  position: absolute;
  top: calc(50% - var(--arrow-size, 50px) / 2);
  margin: 0;
}
.elementor-text-editor p {
  font-size: inherit;
  line-height: inherit;
}
.elementor-image-box-img img {
  vertical-align: unset;
}
.swiper-slide .content-product .product-details .button {
  display: inline-block;
}
.swiper-slide .content-product .quantity-wrapper .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.single-product .product_title {
  display: block;
}
.elementor-element .et-fancy-button .button-wrap a {
  height: auto;
}
.elementor-element .et-fancy-button .button-wrap svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.elementor-element .et-fancy-button .button-wrap i {
  -webkit-transition: inherit;
  transition: inherit;
}
.elementor-element .et-menu-list .type-img.position-center-center img,
.elementor-element .et-menu-list .type-img.position-center-center i,
.elementor-element .et-menu-list .type-img.position-center-center svg {
  display: block;
  margin: 0;
}
.elementor-widget-container p {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.swiper-slide .added_to_cart {
  display: none;
}
.footer-widget .elementor-element ul.menu > li > a,
.footer-widget .elementor-element li a {
  font-size: inherit;
}
